html, body {
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.header-site-name {
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 80%;
    vertical-align: middle;
}

.header-site-name .emphasis {
    border-left: 1px solid white;
    padding-left: 5px;
    font-weight: bold;
    font-size: 130%;
}

.header-title {
    font-size: 200%;
    padding: 10px;
    text-align: center;
}

.header-title-emphasis {
    font-weight: bold;
    font-size: 110%;
}

.header-title-subtitle {
    text-align: center;
    padding-bottom: 20px;
}

.header-title-subtitle-emphasis {
    color: orange;
}

.instructions {
    font-size: 150%;
    padding: 40px 0 0;
    text-align: center;
    margin: 0 20vw;
}

.instructions-emphasis {
    color: orange;
}

.books {
    margin: 20px 5vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 40vw;
    max-height: 360px;
    align-items: flex-start;
}

.book {
    padding: 10px;
}

.book-selected {
    background-color: lightblue;
}

.book img {
    width: 200px;
    max-width: 20vw;
    transition: all 0.3s ease-in-out;
}

.book-selected img {
    width: 220px;
    max-width: 22vw;
}

.book-details {
    display: none;
    margin: 20px 5vw;
    max-width: 600px;
}

.book-details-selected {
    display: block;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}
